<body style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://img.freepik.com/free-vector/castle-tower-fairytale-land-cartoon-scene_1308-51841.jpg?t=st=1709392432~exp=1709396032~hmac=541c6373f8df3f9fe9ff776def5676b1cf6984ef60c68d7c4bd95e18b59b0172&w=1380');
    background-size: cover;
    background-position: center;
    flex: 1;
"> 
    <h1 style="box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.7); color: white; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight:700; position:fixed; top: 0; display: flex; flex-direction: column; justify-content: center; align-items: center;font-size: 3.5em; padding-left: 50px; padding-right: 50px;">SAVE WALDO</h1>

    <div style="display: flex;flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
        <div id="terminal" style="border: 25px solid goldenrod; box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.7);"></div>
        <button onclick="window.location.reload()" style="background-color: wheat;margin-top: 30px; color: black;border-radius: 25px; border:2px solid white;box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5) ">Run Program</button>

    </div>
    

    <script>
        var term = new Terminal({
            cols: 113,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>
<footer style="box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.7); display: flex;flex-direction: column; justify-content: center; align-items: center;position: fixed; bottom: 0; height: 2em ; background-color: black; color: white; width: 100%; padding: 10px; text-align: center;">This is Save Waldo game developed as portofolio project for CODE INSTITUTE by Nikola Simic and has no commercial purpose!</footer>